body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#self-pic{
	width: 150px;
	border-radius: 50%;
}

.bio-button{
	width: 150px;
	height: 30px;
	background-color: yellow;
	border: solid 3px black;	
}

.bio-button:hover{
	cursor: pointer;
	border: solid 4px blue;
	transform: scale(1.1);
}

#background-img{
	background-image: url("https://wallpaperaccess.com/full/808718.jpg");
}

#white-box{
	background-color: white;
	padding: 20px;
	border: 2px solid black;
}

#the-shire{
	width: 500px;
	position: center;
	align-self: center;
	margin-left: 70px;
}

#the-shire:hover{
	transform: scale(2.0);
	cursor: zoom-in;
}

#inn{
	margin-top: 50px;
	margin-left: 130px;
	width: 200px;
	height: 50px;
	background-color: black;
	color: white;
}

#inn:hover{
	cursor: pointer;
	transform: scale(1.2);
}

@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");

.cool-font{
	color: #3C130A;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
	font-weight: 900;
}